@font-face {
  font-family: LibreBaskervilleNavMenu;
  src: url(/fonts/libre_baskerville_regular.woff);
}

@font-face {
  font-family: LibreBaskervilleNavMenu;
  src: url(/fonts/libre_baskerville_bold.woff);
  font-weight: bold;
}

.navMenu{
  background-color: black;
  color:white;
  font-size: 36px;
  font-style: bold;
  font-family: LibreBaskervilleNavMenu;
}
.navMenuLink{
  background-color: black;
  color:white !important;
  text-decoration-color:white !important;
  font-size: 20px;
  vertical-align: middle;
  line-height: 46px; 
}
#logoNavMenu{
  text-align: center;
  vertical-align: middle;
  line-height: 70px; 
  margin-bottom: 0px; 
}

