<html>
<head>
</head>
<body>
<script type="text/javascript" src="lib/js/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="lib/js/popper/popper.min.js"></script>
<!--Bootstrap requiere popper para algunas funciones, por eso importar primero popper, luego bootstrap -->
<script type="text/javascript" src="lib/js/bootstrap/bootstrap.min.js"></script> 
<link rel="stylesheet" href="lib/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/navBar/navBar.css">
<link rel="stylesheet" href="css/index/index.css">
</body>
</html>