<html>
<head>
</head>
<body>
	<div class="row navMenu">
		<div id="divLogoNavMenu" class="col-3 text-center navMenu">
			<p id="logoNavMenu">TERA GUIAS</p>
		</div>
		<div class="col-7 navMenuLink">
			<nav class="navbar navbar-expand-lg navbar-dark bg-light">
				<a class="navbar-brand" href="#" id="labelMenuNav">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							GUIAS
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">CLASES</a>
								<a class="dropdown-item" href="#">INSTANCIAS (PvE)</a>
								<a class="dropdown-item" href="#">BATTLEGROUNDS (PvP)</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							EQUIPAMIENTO
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">SET PvE</a>
								<a class="dropdown-item" href="#">SET PvP</a>
								<a class="dropdown-item" href="#">ACCESORIOS PvE</a>
								<a class="dropdown-item" href="#">ACCESORIOS PvP</a>
								<a class="dropdown-item" href="#">BROCHES</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							NOTAS DE PARCHE
							</a>
						</li>
					</ul>
					<!--<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>-->
				</div>
			</nav>
		</div>
		<div class="col-2 navMenu">
		</div>
	</div>

</body>