<html>
<head>
	<script src="/lib/js/fontawesome/8b0e4dbcea.js"></script>
</head>
<body>
	<div class="row navMenu">
		<div id="divLogoNavMenu" class="col-3 text-center navMenu">
			<p id="logoNavMenu">TERA GUIAS</p>
		</div>
		<div class="col-6 navMenuLink">
			<nav class="navbar navbar-expand-lg navbar-dark bg-light">
				<a class="navbar-brand" href="#" id="labelMenuNav">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							GUIAS
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/templates/guias/clases/clases.html">CLASES</a>
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">INSTANCIAS (PvE)</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="/templates/guias/instancias/subidaDelBatismal/subidaDelBatismal.html">Subida Del Batismal (BR)</a></li>
										<li><a class="dropdown-item" href="/templates/guias/instancias/bovedaDeKaprima/bovedaDeKaprima.html">B&oacute;veda de Kaprima (VoK)</a></il>
										<li><a class="dropdown-item" href="/templates/guias/instancias/flotaDestruida/flotaDestruida.html">Flota Destru&iacute;da (SF)</a></il>
										<li><a class="dropdown-item" href="/templates/guias/instancias/escapeEnElTiempo/escapeEnElTiempo.html">Escape En El Tiempo (TS)</a></il>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">BATTLEGROUNDS (PvP)</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="/templates/guias/battlegrounds/fortalezaDeCorsarios/fortalezaDeCorsarios.html">Fortaleza De Corsarios (CS)</a></li>
										<li><a class="dropdown-item" href="/templates/guias/battlegrounds/canonVentoso/canonVentoso.html">Ca&ntilde;&oacute;n Ventoso (FWC)</a></il>
										<li><a class="dropdown-item" href="/templates/guias/battlegrounds/gridiron/gridiron.html">Gridiron</a></il>
										<li><a class="dropdown-item" href="/templates/guias/battlegrounds/kumas/kumas.html">Kumas</a></il>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							EQUIPAMIENTO
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/templates/equipamiento/setPvE/setPvE.html">SET PvE</a>
								<a class="dropdown-item" href="/templates/equipamiento/setPvP/setPvP.html">SET PvP</a>
								<a class="dropdown-item" href="/templates/equipamiento/accesoriosPvE/accesoriosPvE.html">ACCESORIOS PvE</a>
								<a class="dropdown-item" href="/templates/equipamiento/accesoriosPvP/accesoriosPvP.html">ACCESORIOS PvP</a>
								<a class="dropdown-item" href="/templates/equipamiento/broches/broches.html">BROCHES</a>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							NOTAS DE PARCHE
							</a>
						</li>
					</ul>
					
				</div>
			</nav>
		</div>
		<div class="col-3 navMenu">
			<form class="form-inline my-2 my-lg-0">
				<div id="searching_bar">
				<input id="search_input" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
				<i class="fa fa-search" id="btn_search" aria-hidden="true"></i>
				</div>
			</form>
		</div>
	</div>
</body>
<script src="/js/navBar.js"></script>
</html>