<html>
<head>
</head>
<body>
	<div class="row navMenu">
		<div id="divLogoNavMenu" class="col-3 text-center navMenu">
			<p id="logoNavMenu">TERA GUIAS</p>
		</div>
		<div class="col-6 navMenuLink">
			<nav class="navbar navbar-expand-lg navbar-dark bg-light">
				<a class="navbar-brand" href="#" id="labelMenuNav">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							GUIAS
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">CLASES</a>
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">INSTANCIAS (PvE)</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">Subida Abismal (BR)</a></li>
										<li><a class="dropdown-item" href="#">B&oacute;veda de Kaprima (VoK)</a></il>
										<li><a class="dropdown-item" href="#">Flota Destru&iacute;da (SF)</a></il>
										<li><a class="dropdown-item" href="#">Escape del Tiempo (TS)</a></il>
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a class="dropdown-item dropdown-toggle" href="#">BATTLEGROUNDS (PvP)</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">Fortaleza De Corsarios (CS)</a></li>
										<li><a class="dropdown-item" href="#">Ca&ntilde;&oacute;n Ventoso (FWC)</a></il>
										<li><a class="dropdown-item" href="#">Gridiron</a></il>
										<li><a class="dropdown-item" href="#">Kumas</a></il>
									</ul>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							EQUIPAMIENTO
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/templates/equipamiento/setPvE/setPvE.html">SET PvE</a>
								<a class="dropdown-item" href="#">SET PvP</a>
								<a class="dropdown-item" href="#">ACCESORIOS PvE</a>
								<a class="dropdown-item" href="#">ACCESORIOS PvP</a>
								<a class="dropdown-item" href="#">BROCHES</a>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							NOTAS DE PARCHE
							</a>
						</li>
					</ul>
					
				</div>
			</nav>
		</div>
		<div class="col-3 navMenu">
			<!--<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn fa fa-search" type="submit"></button>
			</form>-->
		</div>
	</div>
</body>
<script src="/js/navBar.js"></script>
</html>